*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: "Glory", sans-serif;
}

nav {
    padding: 16px;
    border-bottom: 1px solid gray;
    background-color: #f7f7f7;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
nav h1 {
    color: #323232;
}
nav a {
    text-decoration: none;
}

body{
    background-color: #eee;
}

:root{
    --text-color : #000000 ;
    --box-color : #ffffff;
    --btn-color : #14213d;
    --hover-color : #023047;
}

.head{
    width: calc(100% - 24px);
    max-width: 400px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin: auto;
    text-align: center;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--box-color);
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 12px 12px 12px;
}

.box,
.box-add {
    background-color: var(--box-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: start;
    min-height: 300px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, .3);
    border-radius: 12px;
}

.box h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--text-color);
}

.box p{
    color: rgb(39, 38, 38);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;    
}

.button{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    cursor: pointer;
    border: 3px solid ;
    padding: 10px 10px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.box-add h2{
    font-size: 25px;
    padding-left: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #023047;
}
input{
    margin: auto;
    width: 90%;
    background-color: rgb(202, 197, 197);
    font-size: 15px;
    color: var(--text-color);
    padding: 10px 10px;
}

textarea{
    width: 90%;
    resize: none;
    padding: 10px;
    font-size: 15px;
    margin: 25px auto 25px auto;
    background-color: rgb(202, 197, 197);
}


.btn {
    width: 90%;
    margin: auto;
    padding: 10px 10px;
    background-color: var(--btn-color);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: var(--hover-color);
}